@model MovieRentalMVCApplication.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>@Model.Name</p>
<p>@Model.IsSuscribed</p>
<p>@Model.MembershipTypeId</p>
<p>@Model.DOB</p>
@*<p>@Model.membershipType.DiscoutRate</p>*@
@*<p>@Model.membershipType.DurationInMonth</p>*@